:host {
  width: 100%;
}

.unapproved-process {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &:hover {
    transition: 0.3s;
    background-color: rgba(223, 223, 223, 0.5);
    cursor: pointer;
  }
}

.no-unapproved {
  display: grid;
  place-items: flex-start;

  h3 {
    font-style: italic;
    color: rgb(162, 162, 162);
  }
}
