<h4><span [matBadgeHidden]="!(hasUnapproved$ | async)" [matBadge]="(unApproved$ | async).length.toString(10)"
          matBadgeColor="accent" matBadgeOverlap="false">Pending approvals</span></h4>
<div *ngIf="hasUnapproved$ | async; else none">
    <mat-card (click)="openUnapprovedDialog(process)" *ngFor="let process of unApproved$ | async"
              class="unapproved-process mat-elevation-z4">
        <h3>{{(getSalesmanInfo(process.id) | async).name}}</h3>
        <span>{{process.year}}</span>
        <mat-progress-bar [value]="determineProgress(process.processStatus)" color="primary"
                          mode="determinate"></mat-progress-bar>
    </mat-card>
</div>
<ng-template #none>
    <div class="no-unapproved">
        <h3>No pending approvals</h3>
    </div>
</ng-template>
