<mat-card class="grid mat-elevation-z4">
    <div class="header">
        <h4>Dashboard</h4>
        <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select [formControl]="years">
                <mat-option *ngFor="let year of availableYears$ | async" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-all-sold-items [values]="allSoldItems$ | async" class="all-items"></app-all-sold-items>
    <app-sold-items-by-company [values]="allOrdersByYear$" class="items-by-customer"></app-sold-items-by-company>
    <app-average-social-scores [performanceRecords$]="allPerformanceRecordsByYear$" [year$]="year$"
                               class="avg-social"></app-average-social-scores>
</mat-card>
