.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: calc(19px + (2 * 1.33em)) auto auto;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-areas: "header header" "all-items items-by-customer" "avg-social avg-social";
}

.all-items {
  grid-area: all-items;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  align-items: center;
}

.items-by-customer {
  grid-area: items-by-customer;
}

.avg-social {
  grid-area: avg-social;
}
