<canvas [chartType]="'bar'"
        [colors]="colors$ | async"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [legend]="barChartLegend"
        [options]="options"
        baseChart>
</canvas>
<div #primary class="primary" style="display:none"></div>
<div #secondary class="accent" style="display:none"></div>
