.customer-ratings {
  display: flex;
  flex-direction: column;
}

#actions {
  justify-content: flex-end;
}

#form {
  display: grid;
  grid-template-areas: "year year" "ratings social" "target target";
  grid-column-gap: 60px;
  grid-row-gap: 20px;
}

.customer-ratings {
  grid-area: ratings;
}

.social-performance-factors {
  grid-area: social;
}

.target-values {
  grid-area: target;
}

.target-values-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.target-value-item {
  width: calc(50% - 15px);
}

.social-performance-factors-item-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-performance-factors-item {
  width: calc(50% - 15px);
}
