<h1 *ngIf="!settings.default; else saveDefault" mat-dialog-title>Edit settings for {{settings.yearOfValidity}}</h1>
<ng-template #saveDefault>
    <h1 mat-dialog-title>Save new settings</h1>
</ng-template>
<div mat-dialog-content>
    <form (ngSubmit)="saveSettings()" [formGroup]="editSettingsForm" id="form">
        <div *ngIf="settings.default" class="year">
            <mat-form-field>
                <mat-label>Year of validity</mat-label>
                <label>
                    <input [formControl]="year" matInput type="number">
                </label>
                <mat-error *ngIf="year.invalid && year.errors.yearTaken">{{year.errors.yearTaken}}</mat-error>
            </mat-form-field>
        </div>
        <div class="customer-ratings">
            <h4>Customer Rating Factors</h4>
            <mat-form-field>
                <mat-label>A Level (factor)</mat-label>
                <label>
                    <input [formControl]="aLevel" matInput type="number">
                </label>
            </mat-form-field>
            <mat-form-field>
                <mat-label>B Level (factor)</mat-label>
                <label>
                    <input [formControl]="bLevel" matInput type="number">
                </label>
            </mat-form-field>
            <mat-form-field>
                <mat-label>C Level (factor)</mat-label>
                <label>
                    <input [formControl]="cLevel" matInput type="number">
                </label>
            </mat-form-field>
        </div>
        <div class="social-performance-factors">
            <h4>Social Performance Factors</h4>
            <div class="social-performance-factors-item-group">

                <mat-form-field class="social-performance-factors-item">
                    <mat-label>Max difference no bonus (difference)</mat-label>
                    <label>
                        <input [formControl]="maxValNoBonus" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="social-performance-factors-item">
                    <mat-label>Bonus payment almost reached (€)</mat-label>
                    <label>
                        <input [formControl]="fixValAlmostReached" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="social-performance-factors-item">
                    <mat-label>Bonus payment reached (€)</mat-label>
                    <label>
                        <input [formControl]="fixValReached" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="social-performance-factors-item">
                    <mat-label>Extra when higher (€)</mat-label>
                    <label>
                        <input [formControl]="factorReached" matInput type="number">
                    </label>
                </mat-form-field>
            </div>
        </div>
        <div class="target-values">
            <h4>Social Performance Target Values</h4>
            <div class="target-values-group">
                <mat-form-field class="target-value-item">
                    <mat-label>Leadership Competence</mat-label>
                    <label>
                        <input [formControl]="leaderShip" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="target-value-item">
                    <mat-label>Openness to Employee</mat-label>
                    <label>
                        <input [formControl]="openness" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="target-value-item">
                    <mat-label>Social Behaviour to Employee</mat-label>
                    <label>
                        <input [formControl]="social" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="target-value-item">
                    <mat-label>Attitude toward Client</mat-label>
                    <label>
                        <input [formControl]="attitude" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="target-value-item">
                    <mat-label>Communication Skills</mat-label>
                    <label>
                        <input [formControl]="communication" matInput type="number">
                    </label>
                </mat-form-field>
                <mat-form-field class="target-value-item">
                    <mat-label>Integrity to Company</mat-label>
                    <label>
                        <input [formControl]="integrity" matInput type="number">
                    </label>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div id="actions" mat-dialog-actions>
    <button id="cancel-button" mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="editSettingsForm.invalid" color="primary" form="form" id="save-button" mat-dialog-close
            mat-flat-button type="submit">Save
    </button>
</div>
