<div class="dialog-title" mat-dialog-title>
    <h3>Unstarted process</h3>
    <div class="heading">
        <h4 class="name">{{(salesman$ | async).name}}</h4>
        <span class="job-title">{{(salesman$ | async).jobTitle}}</span>
        <span class="year">{{process.year}}</span>
        <span class="order-count">{{(salesman$ | async).orders.length}} orders</span>
    </div>
    <mat-divider></mat-divider>
</div>
<div class="dialog-content" mat-dialog-content>
    <div *ngFor="let order of filterOrders((salesman$ | async).orders)" class="order">
        <span class="customer-name">{{order.customer.name}}</span>
        <div *ngFor="let pos of order.positions" class="position">
            <span class="product-name">{{pos.amount}}x {{pos.product.name}}</span>
        </div>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="openStartProcess()" color="primary" mat-flat-button>Start process</button>
</div>
