:host {
  display: flex;
  align-items: center;
}

mat-icon {
  flex-grow: 1;
}

span {
  flex-grow: 19;
}

.error {
  color: red;
}

.warn {
  color: orange;
}

.info {
  color: cornflowerblue;
}

.done {
  color: #5b8021;
}
