<div class="sales-scores">
    <div>
        <h4>HooverGo</h4>
        <app-sales-score-details [salesScores]="salesHooverGo"></app-sales-score-details>
    </div>
    <div>
        <h4>HooverClean</h4>
        <app-sales-score-details [salesScores]="salesHooverClean"></app-sales-score-details>
    </div>
</div>
<div class="social-scores">
    <h4>Social Performance</h4>
    <app-social-performance-details
            [socialScores]="record.socialScores"></app-social-performance-details>
</div>
