<h4>{{label}}</h4>
<div (click)="itemsClicked(sales)" class="sales-list-items">
    <app-sales-score
            *ngFor="let sale of sales"
            amount="{{sale.itemsSold}}"
            companyName="{{sale.customer.name}}">
    </app-sales-score>
</div>
