<div class="heading">
    <h2>Settings</h2>
    <button (click)="openEditSettings(defaultSettings)" color="primary" mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-tab-group>
    <mat-tab *ngFor="let setting of settings$ | async; let index = index" [label]="setting.yearOfValidity.toString(10)">
        <div *ngIf="setting.default" class="default-used">Default settings used. Edit them or add a new set to override
            them.
        </div>
        <div class="settings-tab">
            <div class="rating-factors">
                <h3 id="rating-factors-heading">Customer Rating Factors</h3>
                <p id="rating-factors-description">
                    These values determine the factor sales are multiplied with by customer rating.
                </p>
                <app-sales-score [amount]="setting.customerRatingFactors.firstLevelFactor"
                                 companyName="A-Level Customers"></app-sales-score>
                <mat-divider></mat-divider>
                <app-sales-score [amount]="setting.customerRatingFactors.secondLevelFactor"
                                 companyName="B-Level Customers"></app-sales-score>
                <mat-divider></mat-divider>
                <app-sales-score [amount]="setting.customerRatingFactors.thirdLevelFactor"
                                 companyName="C-Level Customers"></app-sales-score>
            </div>
            <div class="social-factors">
                <h3 id="social-factors-heading">Social Performance Factors</h3>
                <p id="social-factors-description">
                    These values determine the bonus calculation for social performance calculations.
                </p>
                <app-sales-score [amount]="setting.socialPerformanceCalculationParams.maxValNoBonus"
                                 companyName="Maximum difference without bonus payment">
                </app-sales-score>
                <mat-divider></mat-divider>
                <app-sales-score [amount]="setting.socialPerformanceCalculationParams.fixValAlmostReached"
                                 companyName="Bonus payment when almost reached target value">
                </app-sales-score>
                <mat-divider></mat-divider>
                <app-sales-score [amount]="setting.socialPerformanceCalculationParams.factorReached"
                                 companyName="Bonus payment when reached the target value">
                </app-sales-score>
                <mat-divider></mat-divider>
                <app-sales-score [amount]="setting.socialPerformanceCalculationParams.factorReached"
                                 companyName="Bonus payment for each point scored higher than target value">
                </app-sales-score>
            </div>
            <div class="target-values">
                <h3 id="target-values-heading">Social Performance Target Values</h3>
                <p id="target-values-description">
                    These are the target values set to reach by each employee.
                </p>
                <div class="target-values-itemgroup">
                    <div *ngFor="let value of setting.socialPerformanceTargetValues; let i = index"
                         class="target-values-item">
                        <app-sales-score
                                [amount]="value.targetValue" [companyName]="value.category"
                        ></app-sales-score>
                        <mat-divider *ngIf="i < 4"></mat-divider>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button (click)="openEditSettings(setting)" class="edit-button" color="primary" mat-button>Edit</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

