:host {
  width: 100%;
}

.settings-tab {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  grid-template-areas: "rating-factors social-factors" "target-values target-values" "actions actions";
}

.rating-factors {
  grid-area: rating-factors;
}

.social-factors {
  grid-area: social-factors;
}

.target-values {
  grid-area: target-values;
}

.actions {
  grid-area: actions;
}

.edit-button {
  float: right;
}

.rating-factors-item {
  margin: 10px 0;
}

.target-values-itemgroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.target-values-item {
  width: calc(50% - 30px);
}

.heading {
  display: flex;
  align-items: center;
}

.default-used {
  margin-top: 16px;
}
