<app-piechart [data]="pieChartData" id="pie-chart"></app-piechart>
<app-sales-list
        (salesItemsClicked)="salesClicked($event)" [sales]="salesHooverGo" id="sales-left"
        label="HooverGo">
</app-sales-list>
<app-sales-list
        (salesItemsClicked)="salesClicked($event)" [sales]="salesHooverClean" id="sales-right"
        label="HooverClean">
</app-sales-list>
<div id="social-performance-heading">
    <h4>Social Performance</h4>
</div>
<div id="comment-heading">
    <h4>Feedback</h4>
</div>
<app-socialperformance-list
        (click)="socialPerformanceRecordsClicked()"
        [records]="performanceRecord.socialScores"
        class="social-performance">
</app-socialperformance-list>

<ng-container *ngIf="performanceRecord.feedback; then feedbackPresent else noFeedbackPresent"></ng-container>
<ng-template #feedbackPresent>
    <div id="comments">
        <span>{{performanceRecord.feedback.fromUser.fullName}}</span>
        <br>
        <span>{{performanceRecord.feedback.fromUser.jobTitle}}</span>
        <mat-divider></mat-divider>
        <p>{{performanceRecord.feedback.text}}</p>
    </div>
</ng-template>

<ng-template #noFeedbackPresent>
    <h3 style="color: #a2a2a2; font-style: italic">No feedback provided</h3>
</ng-template>
