:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "chart sales-left sales-right" "social-performance-heading social-performance-heading comment-heading" "social-performance social-performance comments";
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

#pie-chart {
  grid-area: chart;
}

#orders-evaluation {
  grid-area: orders-evaluation;
}

#social-performance-heading {
  grid-area: social-performance-heading;
  display: flex;
  height: 4em;
  align-items: flex-end;

  h4 {
    margin: 0;

  }
}

#comment-heading {
  grid-area: comment-heading;
  display: flex;
  height: 4em;
  align-items: flex-end;

  h4 {
    margin: 0;
  }
}


.social-performance {
  transition: 0.3s;
  grid-area: social-performance;
  border-radius: 5px;

  &:hover {
    transition: 0.3s;
    background-color: rgba(223, 223, 223, 0.5);
    cursor: pointer;
  }
}

#comments {
  grid-area: comments;
}

#sales-left {
  grid-area: sales-left;
}

#sales-right {
  grid-area: sales-right;
}

