<h1 mat-dialog-title>Start process</h1>
<div mat-dialog-content>
    <h3>{{salesman | async}} | {{process.year}}</h3>
    <h4>{{process.employeeId}}</h4>
    <form (ngSubmit)="start()" [formGroup]="targetValues" class="target-value-inputs" id="form">
        <mat-form-field class="target-value-item">
            <mat-label>Leadership Competence</mat-label>
            <label>
                <input [formControl]="leaderShip" matInput type="number">
            </label>
        </mat-form-field>
        <mat-form-field class="target-value-item">
            <mat-label>Openness to Employee</mat-label>
            <label>
                <input [formControl]="openness" matInput type="number">
            </label>
        </mat-form-field>
        <mat-form-field class="target-value-item">
            <mat-label>Social Behaviour to Employee</mat-label>
            <label>
                <input [formControl]="social" matInput type="number">
            </label>
        </mat-form-field>
        <mat-form-field class="target-value-item">
            <mat-label>Attitude toward Client</mat-label>
            <label>
                <input [formControl]="attitude" matInput type="number">
            </label>
        </mat-form-field>
        <mat-form-field class="target-value-item">
            <mat-label>Communication Skills</mat-label>
            <label>
                <input [formControl]="communication" matInput type="number">
            </label>
        </mat-form-field>
        <mat-form-field class="target-value-item">
            <mat-label>Integrity to Company</mat-label>
            <label>
                <input [formControl]="integrity" matInput type="number">
            </label>
        </mat-form-field>
    </form>
</div>
<div class="actions" matDialogActions>
    <button (click)="cancel()" mat-button>Cancel</button>
    <button [disabled]="!targetValues.valid" color="primary" form="form" id="submit-button"
            mat-flat-button type="submit">Start
    </button>
</div>
