@import '~@angular/material/theming';
@import "components/social-performance-score.theme";
@import "components/piechart.theme";
@import "components/profile-component.theme";

@include mat-core;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: (
        50: #e8eaf6,
        100: #c5cae9,
        200: #9fa8da,
        300: #7986cb,
        400: #5c6bc0,
        500: #3f51b5,
        600: #3949ab,
        700: #303f9f,
        800: #283593,
        900: #1a237e,
        A100: #8c9eff,
        A200: #536dfe,
        A400: #3d5afe,
        A700: #304ffe,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $light-primary-text,
                400: $light-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);


$accent: (
        50: #fce4ec,
        100: #f8bbd0,
        200: #f48fb1,
        300: #f06292,
        400: #ec407a,
        500: #e91e63,
        600: #d81b60,
        700: #c2185b,
        800: #ad1457,
        900: #880e4f,
        A100: #ff80ab,
        A200: #ff4081,
        A400: #f50057,
        A700: #c51162,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$error: (
        50: #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c,
        A100: #ff8a80,
        A200: #ff5252,
        A400: #ff1744,
        A700: #d50000,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$warn: (
        50: #fff3e0,
        100: #ffe0b2,
        200: #ffcc80,
        300: #ffb74d,
        400: #ffa726,
        500: #ff9800,
        600: #fb8c00,
        700: #f57c00,
        800: #ef6c00,
        900: #e65100,
        A100: #ffd180,
        A200: #ffab40,
        A400: #ff9100,
        A700: #ff6d00,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: black,
        )
);

$success: (
        50: #e8f5e9,
        100: #c8e6c9,
        200: #a5d6a7,
        300: #81c784,
        400: #66bb6a,
        500: #4caf50,
        600: #43a047,
        700: #388e3c,
        800: #2e7d32,
        900: #1b5e20,
        A100: #b9f6ca,
        A200: #69f0ae,
        A400: #00e676,
        A700: #00c853,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        )
);

$dark-primary: mat-palette($primary);
$dark-accent: mat-palette($accent);
$dark-success: mat-palette($success);
$dark-warn: mat-palette($warn);
$dark-error: mat-palette($error);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-custom-dark-theme($primary, $accent, $success, $warn, $error) {
  @return (
          primary: $primary,
          accent: $accent,
          warn: $warn,
          error: $error,
          success: $success,
          is-dark: true,
          foreground: (
                  base: white,
                  divider: $white-12-opacity,
                  dividers: $white-12-opacity,
                  disabled: rgba(white, 0.3),
                  disabled-button: rgba(white, 0.3),
                  disabled-text: rgba(white, 0.3),
                  hint-text: rgba(white, 0.3),
                  secondary-text: rgba(white, 0.7),
                  icon: white,
                  icons: white,
                  text: white,
                  slider-min: white,
                  slider-off: rgba(white, 0.3),
                  slider-off-active: rgba(white, 0.3),
          ),
          background: (
                  status-bar: map_get($mat-blue, 900),
                  app-bar: map_get($mat-blue, 900),
                  background: #363636,
                  hover: rgba(white, 0.04),
                  card: #525252,
                  dialog: map_get($mat-grey, 800),
                  disabled-button: $white-12-opacity,
                  raised-button: map-get($mat-grey, 800),
                  focused-button: $white-6-opacity,
                  selected-button: map_get($mat-grey, 900),
                  selected-disabled-button: map_get($mat-grey, 800),
                  disabled-button-toggle: black,
                  unselected-chip: map_get($mat-grey, 700),
                  disabled-list-option: black,
          ),
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$custom-theme-primary: mat-palette($mat-green);
$custom-theme-accent: mat-palette($mat-blue);
$custom-theme-warn: mat-palette($mat-red);

$dark-theme: create-custom-dark-theme($dark-primary, $dark-accent, $dark-success, $dark-warn, $dark-error);


@include social-performance-score-theme($dark-theme);
@include piechart-theme($dark-theme);
@include profile-component-theme($dark-theme);
// If you want to change the theme's background color for the entire app in a clean way, you can override your theme with the following.
// Set custom background color
// $custom-background-color: map_get($mat-blue-grey, 50);

// -or- Can set colour by hex value too
//$custom-background-color: #628cc9;
//
//$background: map-get($dark-theme, background);
//$background: map_merge($background, (background: $custom-background-color));
//$dark-theme: map_merge($dark-theme, (background: $background));
