<div class="chart-container">
    <canvas [chartType]="'pie'"
            [colors]="colors$ | async"
            [data]="getValues(values)"
            [labels]="getLabels(values)"
            [options]="options" baseChart>
    </canvas>
</div>
<div #primary class="primary" style="display:none"></div>
<div #secondary class="accent" style="display:none"></div>
