<mat-form-field appearance="outline" class="search-input">
    <mat-label>Search</mat-label>
    <label>
        <input matInput placeholder="Salesman">
    </label>
</mat-form-field>
<button mat-raised-button color="primary">Search</button>