<h4>Employees</h4>
<table [dataSource]="salesmen$ | async" class="mat-elevation-z4" mat-table style="width: 100%">
    <ng-container matColumnDef="employeeId">
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef="let element" mat-cell> {{element['employeeId']}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element['name']}} </td>
    </ng-container>
    <ng-container matColumnDef="jobTitle">
        <th *matHeaderCellDef mat-header-cell> Job</th>
        <td *matCellDef="let element" mat-cell> {{element['jobTitle']}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Actions</th>
        <td *matCellDef="let element" mat-cell>
            <div class="actions">
                <button [routerLink]="['/profile', element.employeeId]" color="accent" mat-icon-button
                        matTooltip="Go to profile" matTooltipPosition="left">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" class="entry-row" mat-row></tr>
</table>
