<h1 mat-dialog-title>Social Performance</h1>
<app-social-performance-details [socialScores]="socialScores"></app-social-performance-details>
<div mat-dialog-actions style="justify-content: flex-end">
    <button mat-dialog-close mat-flat-button>OK</button>
</div>
