:host {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "profile records";
  grid-column-gap: 5px;
}

mat-expansion-panel-header {
  display: flex;
}

mat-card {
}

mat-accordion {
  grid-area: records;
}

mat-panel-title {
  display: flex;
  align-items: center;
}


.panel-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    margin-right: 10px;
  }

  .white-button {
    margin-left: 8px;
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 5px;

    &:hover {
      transition: 0.3s;
      background-color: rgba(223, 223, 223, 0.5);
      cursor: pointer;
    }
  }

  mat-chip {
    background: #FF9800;
    color: white;
    font-size: 12px;
    pointer-events: none;
  }
}

.no-records {
  display: grid;
  place-items: center;

  h2 {
    color: lightgray;
  }
}





