<mat-card class="example-card mat-elevation-z4">
    <img *ngIf="pictureUrl | async" [src]="pictureUrl | async" alt="Photo of actual salesmen" mat-card-image>
    <mat-card-content>
        <span>{{name$ | async}}</span>
        <br>
        <span>{{jobTitle$ | async}}</span>
    </mat-card-content>
</mat-card>
<mat-accordion *ngIf="(performanceRecords$ | async).length > 0 else noRecords">
    <mat-expansion-panel *ngFor="let performanceRecord of performanceRecords$ | async; index as i;"
                         class="mat-elevation-z4"
                         [expanded]="i === 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Year of Performance: {{performanceRecord.year}}
            </mat-panel-title>
            <mat-panel-description class="panel-description">
                <button (click)="approveBySalesman($event, performanceRecord)"
                        *ngIf="approvableBySalesman(performanceRecord)" color="primary"
                        mat-flat-button>Accept
                </button>
                <button (click)="bonusClicked($event, performanceRecord)" class="white-button" mat-flat-button>
                    Bonus: {{evalBonus(performanceRecord.bonus) | currency: 'EUR' }}</button>
                <mat-chip-list>
                    <mat-chip
                            [ngClass]="{
                            'status-chip-red': evalProcessStatus(performanceRecord.processStatus) === 'Not started',
                            'status-chip-orange': evalProcessStatus(performanceRecord.processStatus) === 'In Progress',
                            'status-chip-green': evalProcessStatus(performanceRecord.processStatus) === 'Approved'
                            }">
                        {{evalProcessStatus(performanceRecord.processStatus)}}
                    </mat-chip>
                </mat-chip-list>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-performancerecord [performanceRecord]="performanceRecord"></app-performancerecord>
    </mat-expansion-panel>
</mat-accordion>
<ng-template #noRecords>
    <div class="no-records">
        <h2>No performance records</h2>
    </div>
</ng-template>
