<div class="dialog-title" mat-dialog-title>
    <h3>Unapproved process</h3>
    <div class="heading">
        <h4 class="name">{{(salesman$ | async).name}}</h4>
        <span class="job-title">{{(salesman$ | async).jobTitle}}</span>
        <span class="year">{{process.year}}</span>
        <span class="order-count">{{process.salesScores.length}} sales position<span
                *ngIf="process.salesScores.length > 1">s</span></span>
    </div>
    <mat-divider></mat-divider>
</div>
<div class="dialog-content" mat-dialog-content>
    <app-performancerecord [performanceRecord]="process"></app-performancerecord>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="openApproveProcess()" color="primary" mat-flat-button><span *ngIf="isCEO$ | async">Approval and Feedback</span><span
            *ngIf="isHR$ | async">Approval</span></button>
</div>
