.dialog {
  &-actions {
    display: flex;
    justify-content: flex-end;
  }

  &-content {

  }
}

.heading {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 8px;
}

.job-title {
  margin-bottom: 24px;
}

.order-count {
  font-style: italic;
}

.order {
  margin-top: 16px;
}

.customer-name {
  font-weight: bold;
}
