:host {
  width: 100%;
}

.view-hr {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 24px;
  grid-template-areas: "unstarted dashboard" "employees employees";

  .openworkflows {
    grid-area: unstarted;
  }

  app-employee-list {
    grid-area: employees;
  }

  .dashboard {
    grid-area: dashboard;
  }
}

.view-hr {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "unstarted dashboard" "employees employees";

  app-openworkflows {
    grid-area: unstarted;
  }

  app-employee-list {
    grid-area: employees;
  }

  .dashboard {
    grid-area: dashboard;
  }
}

.view-admin {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "unstarted dashboard" "employees employees";

  app-openworkflows {
    grid-area: unstarted;
  }

  app-employee-list {
    grid-area: employees;
  }

  .dashboard {
    grid-area: dashboard;
  }
}



