<h2>Home</h2>
<div *ngIf="hasRole(Role.HR) | async" class="view-hr">
    <div class="openworkflows">
        <app-openworkflows id="hr-unstarted"></app-openworkflows>
        <app-unapproved-processes [unApproved$]="unapprovedByHR$" id="hr-unapproved"></app-unapproved-processes>
    </div>
    <app-home-dashboard class="dashboard"></app-home-dashboard>
    <app-employee-list></app-employee-list>
</div>
<div *ngIf="hasRole(Role.CEO) | async" class="view-hr">
    <app-unapproved-processes [unApproved$]="unapprovedByCEO$" id="ceo-unapproved"></app-unapproved-processes>
    <app-home-dashboard class="dashboard"></app-home-dashboard>
    <app-employee-list></app-employee-list>
</div>
<div *ngIf="hasRole(Role.ADMIN) | async" class="view-admin">
    <app-openworkflows id="admin-unstarted"></app-openworkflows>
    <app-employee-list></app-employee-list>
</div>
