<app-key-value-item label="{{label}}">
    <button [ngClass]="{'social-performance-score-red': difference < 0, 'social-performance-score-green': difference >= 0}"
            mat-mini-fab>
        <mat-icon>
            {{difference < 0 ? 'thumb_down' : 'thumb_up'}}
        </mat-icon>
    </button>
</app-key-value-item>
