<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 class="sidenav"
                 fixedInViewport>
        <mat-toolbar>Menu</mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" id="navigationBar">
            <div class="container">
                <button
                        (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        type="button">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span class="logo" routerLink="/home"
                      matRipple
                      matRippleColor="rgba(255, 255, 255, 0.10)"
                >
                    <img id="logo" src="assets/logo.png" alt="Logo">Performance Cockpit
                </span>
                <button *ngIf="isHR$ | async" [matBadgeHidden]="notificationCountHR() < 1"
                        [matBadge]="notificationCountHR().toString(10)" color="primary" mat-flat-button
                        matBadgeColor="accent"
                        routerLink="/home">Home
                </button>
                <button *ngIf="isCEO$ | async" [matBadgeHidden]="notificationCountCEO() < 1"
                        [matBadge]="notificationCountCEO().toString(10)" color="primary" mat-flat-button
                        matBadgeColor="accent"
                        routerLink="/home">Home
                </button>
                <button *ngIf="hasSettingsPermission$ | async" color="primary" mat-flat-button routerLink="/settings">
                    Settings
                </button>
                <div class="fill-remaining-space"></div>
                <span class="current-user">{{currentUser | async}}</span>
                <button (click)="logoutPrompt()" mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="container" id="site-content">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

