.sidenav-container {
  height: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

#navigationBar {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#site-content {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.slider-container {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.mat-slide-toggle-thumb {

}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(255, 255, 255, 0.3);
}

.logo {
  display: flex;
  align-items: center;
  width: 255px;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  user-select: none;

  &:focus {
    outline: none;
  }
}

#logo {
  height: 32px;
}

.current-user {
  font-size: 14px;
}

.container {
  button {
    margin: 0 8px 0 8px;
  }
}
