<table [dataSource]="salesScores" mat-table style="width: 100%">
    <ng-container matColumnDef="companyName">
        <th *matHeaderCellDef mat-header-cell> Customer</th>
        <td *matCellDef="let element" mat-cell> {{element.customer.name}} </td>
        <td *matFooterCellDef mat-footer-cell> Total</td>
    </ng-container>
    <ng-container matColumnDef="companyRating">
        <th *matHeaderCellDef mat-header-cell> Rating</th>
        <td *matCellDef="let element" mat-cell> {{element.customer.rating}} </td>
        <td *matFooterCellDef mat-footer-cell></td>
    </ng-container>
    <ng-container matColumnDef="itemsSold">
        <th *matHeaderCellDef mat-header-cell> Items sold</th>
        <td *matCellDef="let element" mat-cell> {{element.itemsSold}} </td>
        <td *matFooterCellDef mat-footer-cell></td>
    </ng-container>
    <ng-container matColumnDef="bonus">
        <th *matHeaderCellDef mat-header-cell> Bonus</th>
        <td *matCellDef="let element" mat-cell> {{element.bonus | currency: 'EUR'}} </td>
        <td *matFooterCellDef mat-footer-cell> {{total | currency: 'EUR'}} </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
</table>
