@import '~@angular/material/theming';

@mixin piechart-theme($theme) {

  .primary {
    color: mat-color(map_get($theme, primary));
  }

  .accent {
    color: mat-color(map_get($theme, accent));
  }
}
