@import '~@angular/material/theming';

@mixin profile-component-theme($theme) {
  .status-chip-red {
    background-color: mat-color(map_get($theme, error), 700) !important;
  }

  .status-chip-orange {
    background-color: mat-color(map_get($theme, warn), 700) !important;
  }

  .status-chip-green {
    background-color: mat-color(map_get($theme, success), 700) !important;
  }
}
