@import '~@angular/material/theming';

@mixin social-performance-score-theme($theme) {

  .social-performance-score-red {
    background-color: mat-color(map_get($theme, error), 700) !important;
  }

  .social-performance-score-green {
    background-color: mat-color(map_get($theme, success), 700) !important;
  }
}
