<app-menu>
    <router-outlet></router-outlet>
    <div id="themeMenu">
        <mat-menu #theme="matMenu">
            <button (click)="changeTheme(Theme.LIGHT)" mat-menu-item>Light</button>
            <button (click)="changeTheme(Theme.DARK)" mat-menu-item>Dark</button>
        </mat-menu>
        <button [matMenuTriggerFor]="theme" mat-icon-button color="accent">
            <mat-icon>brightness_4</mat-icon>
        </button>
    </div>
</app-menu>
