.dialog {
  &-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    #total {
      float: left;
    }
  }

  &-content {

  }
}

#form {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  .left {
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
  }

  .right {
    width: calc(50% - 8px);

    textarea {
      height: 100%;
    }
  }
}

#calc {
  font-weight: lighter;
  color: #868686;
}

#total {
  font-weight: bold;
  margin-top: 16px;
}
