<!--<div class="dialog-title" mat-dialog-title>
    <h3>Approval and Feedback</h3>
    <div class="heading">
    </div>
    <mat-divider></mat-divider>
</div>-->
<div class="dialog-content" mat-dialog-content>
    <app-bonus-details [record]="process"></app-bonus-details>

</div>
<div class="dialog-actions" mat-dialog-actions>
    <form (ngSubmit)="approveProcess()" [formGroup]="approvalForm" id="form">
        <div class="left">
            <mat-form-field *ngIf="isCEO$ | async">
                <label>
                    <input [formControl]="extra" matInput placeholder="Individual bonus payment" type="number">
                </label>
            </mat-form-field>
            <mat-checkbox [formControl]="approved">Approve</mat-checkbox>
            <div style="display: flex; flex-direction: column"><span id="total">{{total | currency: 'EUR'}}</span><span
                    id="calc">({{process.bonus.calculatedBonus | currency: 'EUR'}} + {{extra.value | currency: 'EUR'}}
                )</span></div>
        </div>
        <mat-form-field *ngIf="isCEO$ | async" class="example-full-width right">
            <label>
                <textarea [formControl]="feedback" id="area" matInput placeholder="Leave a feedback"
                          rows="1"></textarea>
            </label>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button (click)="cancel()" mat-button>Cancel</button>
        <button [disabled]="approvalForm.invalid" color="primary" form="form" mat-flat-button type="submit">Approve and
            save
        </button>
    </div>
</div>
