<h4><span [matBadgeHidden]="!(hasUnstarted$ | async)" [matBadge]="(unstartedProcesses$ | async).length.toString(10)"
          matBadgeColor="accent" matBadgeOverlap="false">Unstarted processes</span></h4>
<div *ngIf="hasUnstarted$ | async; else none">
    <mat-card (click)="openTodos(process)" *ngFor="let process of unstartedProcesses$ | async"
              class="unstarted-process mat-elevation-z4">
        <h3>{{(getSalesmanInfo(process.employeeId) | async).name}}</h3>
        <span>{{process.year}}</span>
    </mat-card>
</div>
<ng-template #none>
    <div class="no-unstarted">
        <h3>No unstarted processes</h3>
    </div>
</ng-template>
