<h1 mat-dialog-title>{{salesScores[0].product.name}}</h1>
<app-sales-score-details [salesScores]="salesScores"></app-sales-score-details>
<div mat-dialog-actions style="justify-content: flex-end">
    <button mat-dialog-close mat-flat-button>OK</button>
</div>
