<table mat-table [dataSource]="socialScores" style="width: 100%">
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category</th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        <td mat-footer-cell *matFooterCellDef> Total</td>
    </ng-container>
    <ng-container matColumnDef="targetValue">
        <th mat-header-cell *matHeaderCellDef> Target Value</th>
        <td mat-cell *matCellDef="let element"> {{element.targetValue}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="actualValue">
        <th mat-header-cell *matHeaderCellDef> Actual Value</th>
        <td mat-cell *matCellDef="let element"> {{element.actualValue}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef> Bonus</th>
        <td mat-cell *matCellDef="let element"> {{element.bonus | currency: 'EUR'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{total | currency: 'EUR'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
