<canvas [chartType]="'line'"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [legend]="lineChartLegend"
        [options]="lineChartOptions"
        baseChart>
</canvas>
<div #primary class="primary" style="display:none"></div>
<div #secondary class="accent" style="display:none"></div>
