<div class="heading" mat-dialog-title>
    <h3>Bonus Details</h3>
    <span><span id="total">{{total | currency: 'EUR'}} </span><span
            id="calc">({{performanceRecord.bonus.calculatedBonus | currency: 'EUR'}}
        + {{performanceRecord.bonus.extraBonus | currency: 'EUR'}})</span></span>

</div>
<div mat-dialog-content>
    <app-bonus-details [record]="performanceRecord"></app-bonus-details>
</div>
<div mat-dialog-actions style="justify-content: flex-end">
    <button mat-dialog-close mat-flat-button>OK</button>
</div>
