<div mat-dialog-title>Accept and finish process?</div>
<div class="button-container">
    <button (click)="dialogRef.close(false)" mat-stroked-button>No</button>
    <button (click)="dialogRef.close(true)" mat-stroked-button>Yes</button>
</div>
