// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "themes/default-theme";
@import "themes/dark-theme";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.default-theme {
  @include angular-material-theme($default-theme);
  height: 100%;
}

// additional css classes
// you can hardcode one of them on the <body> tag
// or switch dynamically during runtime with [class]
.light-theme {
  @include angular-material-theme($default-theme);
  height: 100%;
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  // background-color: map_get(map_get($dark-theme, background), background);
  color: map_get(map_get($dark-theme, foreground), base);
  height: 100%;
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$custom-typography: mat-typography-config(
        $font-family: 'Montserrat, sans-serif'
);
@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto 0 auto;
  align-items: center;
}
