<mat-card class="login-form-container">
    <mat-card-title>
        Login
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="sendLoginData()" [formGroup]="loginForm">
            <div>
                <mat-form-field appearance="outline" class="loginFormField">
                    <mat-label>Username</mat-label>
                    <label>
                        <input formControlName="username" id="username" matInput placeholder="Enter username"
                               type="text">
                    </label>
                    <mat-error>
                        Username is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="loginFormField">
                    <mat-label>Password</mat-label>
                    <label>
                        <input formControlName="password" id="password" matInput placeholder="Enter your password"
                               type="password">
                    </label>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="loginButton">
                <button [disabled]="!loginForm.valid" class="loginButton" color="primary" mat-raised-button
                        type="submit">Login
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
