:host {
  display: grid;
  place-items: center;
  height: 100%;
  background-image: url("../../assets/callum-wale-AU1rKyKPJco-unsplash-Edit.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form-container {
  width: 100%;
  max-width: 300px;
}

.loginFormField {
  width: 100%;
}

.loginButton {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1em;
}
